@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;

@inject NavigationManager NavigationManager;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="content-language" content="en" />
    <meta name="application-name" content="@SeoProperties.AppName">
    <meta name="apple-mobile-web-app-title" content="@SeoProperties.AppName">
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="@SeoProperties.Domain" />
    <meta name="og:image" content="@(NavigationManager.BaseUri)images/social-header.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@@SquidlrBot" />
    <meta name="twitter:site" content="@@SquidlrBot" />
    <meta name="twitter:image:src" content="@(NavigationManager.BaseUri)images/social-header.png" />
    <meta name="twitter:domain" content="@SeoProperties.Domain">
    <base href="/" />
    <link rel="icon" href="favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32-bg.png" />
    <link rel="icon" type="image/png" sizes="256x256" href="images/favicon-256-bg.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="images/favicon-512-bg.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link href=@WithFileVersion("css/custom-bootstrap.css") rel="stylesheet" />
    <link href=@WithFileVersion("css/site.css") rel="stylesheet" />
    <link href=@WithFileVersion("Squidlr.Web.styles.css") rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a href="" class="dismiss">🗙</a>
    </div>

    <div id="reconnect-modal"></div>

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script src=@WithFileVersion("boot.js")></script>
</body>

</html>

@inject IFileVersionProvider _fileVersionProvider

@code {
    private static string PathBase = "/";

    private string WithFileVersion(string path)
    {

        return (_fileVersionProvider.AddFileVersionToPath(PathBase, path));
    }
}