@page "/download"

@using DotNext;
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Options;
@using System.Net;
@using Serilog.Context;
@using Squidlr.Instagram;
@using Squidlr.Twitter;
@using Squidlr.Twitter.Utilities;
@using Squidlr.Web.Clients;
@using Squidlr.Web.States;
@using Squidlr.Web.Telemetry;
@using Squidlr;

@inject ILogger<Download> Logger
@inject NavigationManager NavigationManager
@inject RequestVideoState RequestVideoState
@inject ApiClient ApiClient
@inject IOptions<ApplicationOptions> ApplicationOptions
@inject IHostEnvironment HostEnvironment
@inject IJSRuntime JS
@inject TelemetryHandler TelemetryHandler
@inject UrlResolver UrlResolver

@implements IDisposable

<head>
    <meta name="robots" content="noindex, nofollow" />
</head>

<PageTitle>@(SeoProperties.CreatePageTitle("Download"))</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center">
    @if (content is InstagramContent instagramContent)
    {
        <InstagramContentView Content="@instagramContent" />
    }
    @if (content is TwitterContent twitterContent)
    {
        <TwitterContentView Content="@twitterContent" />
    }

    @if (errorMessage is not null)
    {
        <h2 class="text-center mt-4">Oh no! Something went wrong :-(</h2>
        <div class="alert alert-warning" role="alert">@errorMessage</div>
    }

    <div class="container mt-4">
        <h2 class="text-center">Want to download another video?</h2>

        <VideoSearchQuery />
    </div>

    <BusyIndicator IsBusy="@isBusy" />
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "url")]
    public string? Url { get; set; }

    private Content? content;

    private bool isBusy = true;

    private string? errorMessage;

    private CancellationTokenSource cts = new CancellationTokenSource();

    protected override async Task OnParametersSetAsync()
    {
        isBusy = true;
        content = null;
        errorMessage = null;
        RequestVideoState.Url = Url;

        var contentIdentifier = UrlResolver.ResolveUrl(Url);
        if (Url == null || contentIdentifier == ContentIdentifier.Unknown)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        try
        {
            var response = await ApiClient.GetContentAsync(contentIdentifier.Url, cts.Token);

            if (response.IsSuccessful)
            {
                content = response.Value;
            }
            else
            {
                SetErrorMessage(response.Error);
            }
        }
        catch (ApiClientException e)
        {
            SetErrorMessage(e);
        }

        isBusy = false;
    }

    private void SetErrorMessage(RequestContentResult result)
    {
        if (result == RequestContentResult.Success) return;

        errorMessage = result switch
        {
            RequestContentResult.NotFound => "Unfortunately the requested content could not be found.",
            RequestContentResult.PlatformNotSupported => "The requested content seems to belong to an unsupported social media platform.",
            RequestContentResult.NoVideo => "It seems that the content does not contain any video.",
            RequestContentResult.UnsupportedVideo => "The content contains an embedded video source which is not yet supported.",
            RequestContentResult.AdultContent => "Age-restricted adult content. This content might not be appropriate for people under 18 years old.",
            RequestContentResult.AccountSuspended => "The account containing the requested content has been suspended.",
            RequestContentResult.Protected => "The account owner limits who can view its content.",
            RequestContentResult.GatewayError => "The response from the social media servers was not what we expected. Please try again in a few minutes. In the meantime we will try to fix the issue.",
            _ => "There was an unexpected error. We will try to fix that as soon as possible!"
        };
    }

    private void SetErrorMessage(ApiClientException exception)
    {
        errorMessage = exception.StatusCode switch
        {
            HttpStatusCode.TooManyRequests => "You created too many requests. Please try again a bit later.",
            _ => "There was an unexpected error. We will try to fix that as soon as possible!"
        };
    }

    void IDisposable.Dispose()
    {
        cts.Dispose();
    }
}
